body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: deeppink;
    background-color: black;
}

.cabecera{
    color: brown;
    cursor: default;
}
.cabecera:hover{
    color: pink;
}